body {
    margin: 0px;
    background: linear-gradient(120deg, #90d3ff, #dfa2fa);
}

header {

  padding: 0px;
  justify-content: space-between;
  align-items:center;
 
}

.navlogo {
  cursor: pointer;
  order: 3;
  margin-left: auto;
  color: #4e4541;
}

.navuser{
  float:right;
}


.nav{
  list-style: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 15px;
  background-color: #2c2e3b;

  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav li{
  display: inline-block;
  padding: 0px 10px;

}

.nav a{
  color: #edf0f1;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;

}

.indexPic{
  max-width: 100%; height: auto;
  text-align:center;
  border-radius: 20px;
}

.clothesPic{
  margin: 0.5%;

}


.clothesList{
    width: auto;
    height:300px;


    text-align:center;
    margin: 4% auto ;

    display: grid;
    text-align:center;
    grid-template-columns: 1fr 20fr 20fr 20fr 1fr;
    grid-column-gap: 50px;
   

}

.clothesList left{
  margin-left:50px;
}

.clothesName{
  font-size:16px ;/*字体大小*/
  font-weight: 400;/*字体粗细*/
  color:#09acd9;/*字体颜色*/
}



.list{
  display: grid;
  text-align:center;
  grid-template-columns: 2fr;
  grid-template-rows: 200px 50px 50px;
  /*grid-column-gap: 10px;
  grid-row-gap: 10px;*/
  border:1px solid #ddd;

  background-color: rgb(250, 239, 239);
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #2c2e3b;
  color: white;
  text-align: center;
}
