.main{
    width: auto;
    height:100px;
  
  
    text-align:center;
    margin: 10% auto ;
  
    border-width: 1px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    width: 50%;
  
}
  
.main-center{
    border:1px solid #ddd;
  
    background-color: rgb(250, 239, 239);
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/*check pay css*/

article {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
}

h1 {
    text-align: center;
    font-family: 'Stylish';
    font-size: 60px;
}

.images {
    float: inline-start;
    border: none;
    border-radius: 10px;
    margin: 10px;

    width: 100px;
    height: 110px;
}

.checkboxes {
    float: inline-end;

    width: 40px; 
    height: 40px; 
}

#searchbar {
    width: 80%;
}

.checkpay {
    background-color: aliceblue;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 30px;
    padding: 20px;
}

.add-button {
    background-color: darkgray;
    color: white;
    font-size: 20px;
    width: 150px;
    height: 30px;
    border: none;
    text-transform: uppercase;
    width: 50%;
  
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.add-button:hover {
    background-color: white;
    color: black;
}